@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/header";
@import "components/footer";

.nav__tabs{
    .item{
        height: 40px;
        width: 90px;
        border: 2px solid #000;
        margin: 12px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.8s;
        &.active{
            background-color: blue;
            color: aliceblue;
            transition: 0.8s;
        }
    }
}

.content__tabs{
    .content{
        border: 2px solid #000;
        margin: 12;
        height: 600px;
        width: 100%;  
    }
    :first-child{
        background-color: #f00;
    }
    :last-child{
        background-color: rgb(28, 12, 151);
    }
    :nth-child(2){
        background-color: rgb(20, 225, 71);
    }
}