<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="header__title">
                    HEADER
                </div>
                <nav class="header__menu">
                    <ul class="d-flex">
                        <li>
                            <a class="yellow" href="">
                                Test1
                            </a>
                        </li>
                        <li><a href="">Test2</a></li>
                        <li><a href="">Test3</a></li>
                        <li><a href="">Test4</a></li>
                    </ul>
                </nav>          
            </div>
        </div>
    </div>
</header>