<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <a href="/" class="header__logo">LOGO</a>
                <nav class="header__nav d-none d-lg-block">
                    <ul class="d-flex">
                        <li>
                            <a href="#">TEST 1</a>
                        </li>
                        <li>
                            <a href="#test">TEST 2</a>
                        </li>
                        <li>
                            <a href="#">TEST 3</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__burger d-block d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="mobile__nav">
                        <ul class="d-flex flex-column align-items-center justify-content-center">
                            <li>
                                <a href="#">TEST 1</a>
                            </li>
                            <li>
                                <a href="#test">TEST 2</a>
                            </li>
                            <li>
                                <a href="#">TEST 3</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</header>